<% set_meta_tags article: {
    modified_time: '2025-01-15T10:05:25-08:00',
    published_time: '2024-11-05T15:07:18-08:00',
  },
  description: 'Want to master the art of 1-on-1 organizing conversations? AEIOU is a proven system for staying on track and maximizing your odds of recruiting a new member',
  og: {
    type: 'article',
  }
%>

<div class="container policy">
<div class="row">
<div class="col col-12">

<header>
  <h1><%= title "Supercharge Your 1-on-1 Organizing Conversations with AEIOU" %></h1>
  <p>November 5, 2024</p>
</header>

<p>Building a strong union requires more than just numbers– it takes dedicated individuals who are committed to standing up together for their rights and interests. At the heart of any successful organizing effort is a network of engaged workers who feel empowered to take action. But how do you inspire others to get involved? That's where AEIOU comes in– a simple, five-step framework developed and battle-tested by labor organizers at the <%= link_to "Industrial Workers of the World", "https://en.wikipedia.org/wiki/Industrial_Workers_of_the_World", target: "_blank" %>.</p>
<p>AEIOU (Agitate, Educate, Inoculate, Organize, Uplift) is a powerful tool for facilitating productive and empowering conversations between workers. By using this framework to have 1-on-1 conversations with coworkers at your workplace, you can build momentum towards starting your union. The next sections will walk through each step of AEIOU, providing tips and strategies for using this tool to supercharge your union-building efforts.</p>

<h2>Agitate: Find the Spark that Ignites Passion</h2>

<p>The Agitate step is all about uncovering the workplace issue that really gets your coworker fired up- their own spark! This might be a problem with working conditions, pay or benefits, or simply a sense of injustice. During this step, you'll help them feel like they have permission to be angry, frustrated, or upset about this problem. By exploring their spark together, you can ignite passion and motivation in your coworker.</p>
<p>Here are some examples of sparks:</p>
<ul>
  <li>A coworker is upset about the lack of paid time off for new parents.</li>
  <li>A worker feels undervalued and underpaid compared to colleagues in similar roles.</li>
  <li>A group of coworkers is concerned about the threat of layoffs on their job-security.</li>
</ul>
<p>Start by asking open-ended questions that encourage your coworker to share their experiences. Ask questions like "If you could change three things at work tomorrow, what would they be?" or "How have things changed since you started working here?" These questions help them naturally bring up the issues they care about.</p>
<p>When you identify a spark, it's essential to respond with empathy and validation, and then ask a follow-up question to dig deeper. For example "Wow that's awful. How long have you been dealing with that?" or "That sounds like a real challenge. How are you and your family holding up?" By doing so, you're giving your coworker permission to feel the emotions associated with this issue.</p>
<p>This step isn't about fixing the problem yet. Instead it's about really understanding what motivates and angers them. By exploring their spark together, you lay the groundwork for the next steps in AEIOU, where you'll help your coworker develop a plan to address their issue and build momentum for collective action.</p>

<h2>Educate: Explore How Collective Action Can Help</h2>

<p>Now that you've helped your coworker identify their spark, it's time to explore how collective action can help address the issue. This is where we start to think creatively about what we can do together to create positive change.</p>
<p>First, help your coworker realize who's responsible for creating the issue (e.g. the boss). Ask questions like "How do you think we got into this mess?" or "Is anyone in a position to fix it?"</p>
<p>Once your coworker identifies who created the issue, you're ready to explore how collective action can be used to pressure that person into fixing it.</p>
<p>If you've heard a story of another workplace that successfully used collective action to solve a similar problem, share it! Then ask questions like "Do you think something like that could work here?" The goal is to inspire creativity and build off each other, not to present that workplace's strategy as a strict plan to be followed.</p>
<p>For example, you might discuss how unions have used collective bargaining agreements to secure better working conditions, pay, or benefits for their members. You could also share stories of successful organizing efforts where coworkers came together to address issues like layoffs, unfair labor practices, or workplace safety concerns.</p>
<p>Ask questions that inspire creativity and build momentum towards taking action. For instance:</p>
<ul>
  <li>"What do you think we could do together to pressure our boss into making a change?"</li>
  <li>"How could we work with other departments or teams to address this issue?"</li>
  <li>"What kind of support system would be needed to make collective action successful?"</li>
</ul>
<p>By educating your coworker about the possibilities and potential benefits of collective action, you can build momentum towards starting your union.</p>

<h2 id="inoculate">Inoculate: Prepare for Management's Response</h2>

<p>After you've educated your coworker about how collective action can help address their spark, it's time to think ahead. How will management respond if we take action? By anticipating and preparing for this, you can help your coworker feel more confident and in control.</p>
<p>Imagine different scenarios with your coworker: "What might the boss say if we ask for a meeting?" or "How might management try to silence us if we speak out?"</p>
<p>This is not just about being prepared- it's also about acknowledging and addressing the fears that come with taking action. It's normal to feel apprehensive or even scared when challenging the status quo. But by facing these fears together, you can help your coworker build the confidence they need to take a stand.</p>
<p>For example, let's say management tries to intimidate us into silence. What do we do then? How will we respond if they threaten us with disciplinary action?</p>
<p>Asking these questions and exploring possible scenarios can be incredibly empowering. It helps people see that management's pushback is often just an attempt to maintain control- not a reflection of the strength or worth of our concerns.</p>
<p>By preparing for potential pushback, you're helping your coworker build a strong foundation for their union-building efforts. You're showing them that it's okay to take risks and speak out, even if it means facing some resistance along the way.<p>

<h2>Organize: Commit to Take Action</h2>

<p>Once you've prepared for potential pushback and faced your fears together, it's time to start taking action. This is where things can get really exciting!</p>
<p>Asking questions like "What's the next step we need to take?" or "Who else might be impacted by this issue?" will help your coworker think critically about what's needed to make progress on their spark. As they identify potential tasks, talk through which ones seem the most important and achievable.</p>
<p>This could include things like:</p>
<ul>
  <li>Gathering support from coworkers in other departments</li>
  <li>Researching company policies or procedures related to the issue</li>
  <li>Meeting with management to discuss the issue</li>
</ul>
<p>When your coworker identifies a task that seems appropriate for their level of engagement, ask if they're willing to take it on.</p>
<p>If they say no, use a technique veteran organizers like <%= link_to "Jane McAlevey", "https://en.wikipedia.org/wiki/Jane_McAlevey", target: "_blank" %> call "framing hard choices." Remind your coworker that the issue won't resolve itself and can't be resolved by individual action alone. Are they really willing to live with this issue for the rest of their career? They can either take a risk now to fix their issue, or play it safe and achieve nothing.</p>
<p>After framing this hard choice, wait quietly <em>for as long as it takes</em> until your coworker answers. This is known as "the long uncomfortable silence" because it can last a minute or more. Respecting this silence is crucial, because you've just asked your coworker to make a huge decision with consequences that will deeply impact the rest of their life. So give them time to weigh both options and choose their path forward.</p>
<p>If they commit to taking action, congratulations! Set a specific time to follow up with them on how it went. The follow-up will be the focus of the next step. By taking action and making progress on their spark, your coworker is now building momentum towards starting your union.</p>

<h2>Uplift: Follow Up and Overcome Obstacles Together</h2>

<p>After committing to take action to address the issue, it's important to check in with your coworker to make sure they're staying on track. It's not uncommon for obstacles—both external and internal—to cause your coworker to lose steam after their initial enthusiasm for taking action. By working together to find solutions and offering support as needed, you can help each other build momentum towards making positive change at your workplace.</p>
<p>Imagine your coworker scheduled a meeting with management to discuss the issue, but it got canceled at the last minute. How will you and your coworker adjust? Will you need to find an alternative way to address the issue?</p>
<p>Here are some examples of how you can uplift each other:</p>
<ul>
  <li><strong>Break down big tasks into smaller ones</strong>: If a task seems too daunting, try breaking it down into smaller, more manageable steps. This can help make the process feel less overwhelming and more achievable.</li>
  <li><strong>Offer to act as backup</strong>: Most efforts are easier with someone by your side. Just remember to let your coworker take the lead!</li>
  <li><strong>Celebrate small wins</strong>: Acknowledge and celebrate each other's successes along the way. This can help build momentum and keep you both motivated.</li>
</ul>
<p>By supporting each other through obstacles, the Uplift step becomes much more than just a check-up about a single task. Instead it lays the foundation for an ongoing network of communication and trust that makes standing-up-for-what's-right a normal thing in your workplace.</p>

<p><em>Want to form your own labor union? <%= link_to "Download Organize free", store_path("aeiou-framework") %> to get started today.</em></p>

</div>
</div>
</div>
