<% content_for :title, "Blog" %>

<div class="container policy">
<div class="row">
<div class="col col-12">

<header>
  <h1><%= content_for :title %></h1>
</header>

<ul>
  <li>
    <%= link_to "5 Tips for Successfully Starting Your Union",
      blog_tips_for_starting_a_union_path %>
  </li>
  <li>
    <%= link_to "5 Tips for Successful 1-on-1 Organizing Conversations",
      blog_tips_for_organizing_conversations_path %>
  </li>
</ul>

</div>
</div>
</div>
