<div class="container">
  <div id="hero" class="row">
    <div id="hero-overlay" class="col col-sm-6 col-md-5">
      <div class="overlay-text overlay-title">
        Fearlessly form your union
      </div>
      <div class="overlay-text overlay-subtitle">
        We help overworked employees win more time to do what they love
      </div>
      <div class="screenshot-container">
        <%= image_tag 'bezel-screenshot.png', alt: 'Screenshot of the Organize app' %>
      </div>
      <div class="badge-container">
        <%= image_tag 'Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.png', alt: 'Download on the App Store', class: 'badge' %>
        <%= image_tag 'google-play-badge.png', alt: 'Get it on Google Play', class: 'badge' %>
      </div>
    </div>
  </div>
</div>
