<div class="container policy">
<div class="row">
<div class="col">

<header>
  <h1>Privacy Policy</h1>
  <p>Last modified: 2024-09-16</p>
</header>

<h2>Introduction</h2>
<p>Organize provides software tools that help American workers improve their work lives. We utilize best practices for security and end-to-end encryption so that your content is only accessible by members of your Org. We work hard to minimize the amount of personally identifiable information (PII) we require, limiting it to only what's absolutely necessary to provide the Service.</p>

<h2>Information You Provide</h2>

<h3>Free Text Content</h3>
<p>Free Text Content is unstructured info that you type or otherwise enter into a free text input of the app. All of this content is end-to-end encrypted so that it is only accessible by members of your Org. End-to-end encryption ensures that this content is unreadable by us.</p>
<p>Examples of Free Text Content include ballot questions, candidate titles, comment bodies, discussion titles, discussion bodies, Org names, and Org Member Definitions.</p>
<p>Free Text Content does not include structured info like the Org's email address discussed below.</p>

<h3>Org Representative Email Address</h3>
<p>In order to create a new Org, the Org Creator must provide an Org Representative Email Address. We send email to this address whenever we need to contact a representative from your Org. For example, we may email this address if there is an issue regarding your Org's payments. No matter how many members are in your Org, you only need to provide a single email for the entire Org.</p>
<p>This email is only shared with other members of your Org who have permission to "Edit Org Info." The Org Creator and other members who have permission to "Edit Permissions" can modify who can "Edit Org Info" via the in-app Permissions page.</p>

<h3>User Support</h3>
<p>If you contact Organize User Support, any personal data you may share with us is kept only for the purposes of researching the issue and contacting you about your case.</p>

<h3>Managing Your Information</h3>
<p>Members of your Org with the "Edit Org Info" permission can update the Org's name, Member Definition, or Representative Email via the in-app "Edit Org" page.</p>
<p>You can leave your Org from the in-app Settings page. If you choose to leave your Org, all of the comment bodies, discussion titles, and discussion bodies you created will be deleted. However, other Free Text Content you created such as ballot questions, candidate titles, the Org name, and the Org Member Definition will not be deleted, because doing so would cause too much confusion for the remaining members. For example, if ballot questions or candidate titles were deleted, it would become difficult for the remaining members of the Org to know what they had previously voted on. Similarly, if the Org Member Definition were deleted, new members couldn't know if they fit the definition or not.</p>
<p>If you delete the app from your device without first leaving your Org, your comment and discussion info cannot be deleted, so it will continue to be accessible by other Org members.</p>

<h2>Information We Collect Automatically</h3>
<p>We do not include any client-side analytics or logging in the app, but our backend systems automatically log certain info about your requests as discussed below.</p>

<h3>Log and Usage Data</h3>
<p>When you access and use the Service, our backend systems may automatically log your IP address. They may also log other data associated with the request like when you made it and what resource you requested.</p>

<h2>Information We May Share</h2>

<h3>Third Parties</h3>
<p>We work with third parties to provide some of our Services. For example, we use Third-Party Providers to send a verification code to the Org Representative Email Address when you create a new Org. These providers are bound by their Privacy Policies to safeguard that information. If you use other Third-Party Services in connection with our Services, their Terms and Privacy Policies govern your use of those services.</p>

<h3>Other Instances Where Organize May Need to Share Your Data</h3>
<ul>
  <li>To meet any applicable law, regulation, legal process or enforceable governmental request</li>
  <li>To enforce applicable Terms, including investigation of potential violations</li>
  <li>To detect, prevent, or otherwise address fraud, security, or technical issues</li>
  <li>To protect against harm to the rights, property, or safety of Organize, our users, or the public as required or permitted by law</li>
</ul>

<h2>Updates</h2>
<p>We will update this privacy policy as needed so that it is current, accurate, and as clear as possible. Your continued use of our Services confirms your acceptance of our updated Privacy Policy.</p>

<h2>Terms</h2>
<p>Please also read our <%= link_to 'Terms', terms_path %> which also governs the terms of this Privacy Policy.</p>

<h2>Contact Us</h2>
<p>If you have questions about our Privacy Policy please <%= mail_to @email, 'contact us' %>.</p>

</div>
</div>
</div>
