<% set_meta_tags article: {
    modified_time: '2025-03-10T17:53:31-07:00',
    published_time: '2024-11-04T10:54:11-08:00',
  },
  description: 'Effective 1-on-1 organizing conversations are the key to starting a labor union at your workplace. Learn this crucial skill with the 5 simple tips in this guide',
  og: {
    type: 'article',
  }
%>

<div class="container policy">
<div class="row">
<div class="col col-12">

<header>
  <h1><%= title "5 Tips for Great 1-on-1 Organizing Conversations" %></h1>
  <p>November 4, 2024</p>
</header>

<p>A 1-on-1 organizing conversation is more than just a chat with a coworker- it's an opportunity to build trust, identify shared concerns, and move from inaction to collective action. By engaging in these conversations, we can break down the fear of authority that often silences employees and empower them to take ownership of their workplace.</p>
<p>As organizers seeking to form a new union, our goal is to inspire workers to come together and demand improvements. 1-on-1 organizing conversations are the foundation upon which this movement is built. By having these conversations with fellow workers, we can encourage them to realize that they have the power to effect change by working together with others.</p>

<h2>Tip #1: Talk in Person</h2>

<p>When it comes to 1-on-1 organizing conversations, there's no substitute for in-person talks. Digital tools can't replicate the power of human connection and direct conversation. Face-to-face interactions help build trust and understanding, making it easier for coworkers to open up about their concerns. By talking in person, you can better understand your coworker's obstacles and tailor your approach accordingly. </p>
<p>So where should your 1-on-1 take place? Choose a setting that feels comfortable for both you and your coworker. Be mindful of the potential risks, distractions, and stress of holding conversations in the workplace! A 1-on-1 at the watercooler or in the cafeteria will work well for some, but others will find it much easier to open up over coffee before work or drinks after work.</p>

<h2>Tip #2: Focus on Building Relationships</h2>

<p>1-on-1 organizing conversations are easier when you and your coworker already have a longstanding relationship built on mutual trust and respect. Powerful emotions can surface during these conversations, since they touch on confronting fears, overcoming insecurities, and grappling with how workplace injustices have impacted our lives. Being open and honest about these things is much easier if you've established a history of trust.</p>
<p>If you don't have a relationship yet, start by having a normal friendly conversation to establish common ground, trust, and mutual respect. Even if you can't dive into a 1-on-1 organizing conversation right away, you're still building a powerful relationship that will strengthen solidarity in your workplace. Organizing takes time and patience- it doesn't happen overnight!</p>

<h2>Tip #3: Use the 80/20 Rule and Active Listening</h2>

<p>During 1-on-1 organizing conversations, your coworker should be talking 80% of the time, and you should only be talking 20% of the time! This means letting them share their thoughts and feelings without interrupting or trying to steer the conversation in a particular direction. Ask open-ended questions to help them explore their experiences and emotions, rather than ones with simple yes/no answers.</p>
<p>As you listen, keep an open mind, practice empathy, and show that you hear what they're saying by reacting, asking follow-up questions, and seeking clarifications if needed. This is not about convincing or persuading your coworker. Instead it's about building a genuine connection and understanding their perspective. As such, if at any point they refuse to engage, respect their wishes. You can always try again in the future.</p>

<h2>Tip #4: Expect Incremental Progress</h2>

<p>When engaging in 1-on-1 organizing conversations, it's essential to remember that people don't usually take a giant leap forward- they move incrementally. While some conversations may go exceptionally well and have a significant impact, it's often more typical for progress to happen gradually.</p>
<p>A single conversation is unlikely to suddenly transform someone who's skeptical into a passionate supporter or turn an opponent into a core organizer. There's no problem making progress one step at a time. Moving your coworker from where they are today to a more supportive position, even if it's just by a small margin, is still progress in the right direction. This might mean shifting their perspective from being opposed to your union to being open to its ideas, or from being neutral to actively considering getting involved.</p>
<p>By taking the long view and focusing on incremental progress, you'll be better equipped to build momentum and make steady gains in your organizing efforts</p>

<h2>Tip #5: Keep Your Conversations on Track With <em>AEIOU</em></h2>

<p>The AEIOU framework is a powerful tool for guiding your 1-on-1 organizing conversations. It was developed by the <%= link_to "Industrial Workers of the World", "https://en.wikipedia.org/wiki/Industrial_Workers_of_the_World", target: "_blank" %> to help you stay focused on the key steps needed to move people from being skeptical or neutral about unionization to becoming active supporters.</p>
<p>AEIOU stands for Agitate, Educate, Inoculate, Organize, and Uplift. By following these five steps, you can ensure that your conversations are productive and help build momentum towards collective action. Here's a brief overview of each step:</p>
<ul>
  <li><strong>Agitate</strong>: Identify your coworker's biggest workplace issue and how it affects them personally.</li>
  <li><strong>Educate</strong>: Determine who created the problem (e.g. the boss) and explore how collective action can pressure that person into fixing it.</li>
  <li><strong>Inoculate</strong>: Anticipate and prepare for how the boss might react to collective action, addressing your coworker's fears, and building up their defenses.</li>
  <li><strong>Organize</strong>: Find a way for your coworker to help fix the problem by taking on the right-sized organizing task, and then get a commitment to follow through.</li>
  <li><strong>Uplift</strong>: Follow up with your coworker, work together to overcome any obstacles that got in the way of their task, and build an ongoing network of communication and trust.</li>
</ul>
<p>By using the AEIOU framework as a guide, you can keep your conversations focused on the key goals of 1-on-1 organizing and help build a strong foundation for collective action.</p>
<p>For more info, see <%= link_to "Supercharge Your 1-on-1 Organizing Conversations With AEIOU", blog_aeiou_framework_path %>.</p>

<p><em>Want to form your own labor union? <%= link_to "Download Organize free", store_path("tips-for-organizing-conversations") %> to get started today.</em></p>

</div>
</div>
</div>
