# Ignore VS Code files
.vscode/

# Ignore bundler config.
/app/.bundle

# Ignore master key for decrypting credentials and more.
/app/config/master.key

# Ignore the default SQLite database.
/app/db/*.sqlite3
/app/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/app/log/*
/app/tmp/*
!/app/log/.keep
!/app/tmp/.keep

# Ignore pidfiles, but keep the directory.
/app/tmp/pids/*
!/app/tmp/pids/
!/app/tmp/pids/.keep

# Ignore the .dockerignore file, itself
.dockerignore

# Ignore .git files
.git/
.gitattributes
.gitignore

# Ignore Docker .env environment variable file. For more info, see
# https://docs.docker.com/compose/environment-variables/
.env

# Ignore docker compose files
compose.*

# Ignore README
README.md
