<div class="badge-container">
  <%= link_to(
    image_tag('Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.webp',
      alt: 'Download on the App Store',
      class: 'badge'),
    store_path(ref, platform: 'ios')) %>
  <%= link_to(
    image_tag('google-play-badge.webp',
      alt: 'Get it on Google Play',
      class: 'badge'),
    store_path(ref, platform: 'android')) %>
</div>
