<header>
  <nav>
    <div class="container">
      <div class="row">
        <%= link_to root_path do %>
          <div class="logo">
            <%= image_tag 'logo.png', alt: 'Organize Logo' %>
            Organize
          </div>
        <% end %>
        <div class="links">
          <%= link_to 'Download Free', store_path('header'), class: 'button' %>
        </div>
      </div>
    </div>
  </nav>
</header>
