<div class="col col-12 col-sm-4">
  <div class="pricing-plan">
    <div class="pricing-plan-header">
      <div class="pricing-plan-title"><%= title %></div>
      <div><%= subtitle %></div>
    </div>
    <div class="pricing-plan-price-container">
      <div class="pricing-plan-price"><%= price %></div>
      <div class="pricing-plan-price-units">Per person/month</div>
    </div>
    <%= link_to button_title, store_path(ref), class: 'button' %>
  </div>
</div>
