header nav div.row {
  align-items: center;
  justify-content: space-between;
}

.logo {
  align-items: center;
  display: flex;
  font-size: 24px;
}

.logo img {
  display: block;
  height: 40px;
  margin: 10px 10px 10px 0;
  width: 40px;
}
