.pricing-plan {
  background-color: var(--fill-color);
  border: var(--separator-border);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  overflow: hidden;
  text-align: center;
}

.pricing-plan a {
  align-self: center;
  margin-bottom: 20px;
}

.pricing-plan-header {
  background-color: var(--fill-tertiary-color);
  border-bottom: var(--separator-border);
  padding: 10px;
}

.pricing-plan-price {
  font-size: var(--font-size-title);
  font-weight: 700;
}

.pricing-plan-price-container {
  margin: 20px;
}

.pricing-plan-title {
  font-size: var(--font-size-header);
  font-weight: 700;
}

.pricing-plan-price-units {
  color: var(--label-secondary-color);
}
