.secondary-value-proposition {
  display: flex;
  flex-direction: column;
}

.secondary-value-proposition img {
  height: 150px;
}

.secondary-value-proposition p {
  font-size: var(--font-size-subheader);
  text-align: center;
}
